[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
drf-spectacular = "*"
django-filter = "*"
django-types = "*"

[dev-packages]
django-stubs = "*"
djangorestframework-stubs = "*"
types-requests = "*"
types-pyyaml = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
